@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
.clock {
	border: 10px solid white;
	border-radius: 2vw;
	width: 90vw;
	height: 90vh;
	display: flex;
	justify-content: center;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timer {
	margin-top: 5vh;
	height: 50vh;
	width: 75vw;
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(
		60deg,
		rgb(95, 134, 242),
		rgb(166, 95, 242),
		rgb(242, 95, 208),
		rgb(242, 95, 97),
		rgb(242, 203, 95),
		rgb(171, 242, 95),
		rgb(95, 242, 129),
		rgb(95, 242, 240)
	);
}

.timer p {
	font-size: 11vw;
	word-spacing: -6vw;
	font-weight: bold;
	font-family: 'Major Mono Display', monospace;
	color: white;
}
.timer-buttons {
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 60vw;
}
.start-button {
	border: 2px solid white;
	font-family: 'Major Mono Display', monospace;
	width: 25vw;
	height: 7vw;
	font-size: 5vw;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clear-button {
	border: 2px solid white;
	font-family: 'Major Mono Display', monospace;
	width: 25vw;
	height: 7vw;
	font-size: 5vw;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes strokeAnimation {
	0% {
		-webkit-text-stroke-color: rgb(149, 4, 245);
	}
	25% {
		-webkit-text-stroke-color: rgb(12, 247, 235);
	}
	45% {
		-webkit-text-stroke-color: transparent;
	}
	55% {
		-webkit-text-stroke-color: rgb(16, 250, 199);
	}
	85% {
		-webkit-text-stroke-color: rgb(11, 245, 147);
	}
	100% {
		-webkit-text-stroke-color: rgb(138, 3, 248);
	}
}
