@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
.clock {
	border: 10px solid white;
	border-radius: 2vw;
	width: 90vw;
	height: 90vh;
	display: flex;
	justify-content: center;
}
.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timer {
	margin-top: 5vh;
	height: 50vh;
	width: 75vw;
	border: 3px solid white;

	display: flex;
	justify-content: center;
	align-items: center;
}

.timer p {
	font-size: 11vw;
	word-spacing: -6vw;
	font-weight: bold;
	font-family: 'Major Mono Display', monospace;
	color: white;
}
.timer-buttons {
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 60vw;
}
.start-button {
	border: 2px solid white;
	font-family: 'Major Mono Display', monospace;
	width: 25vw;
	height: 7vw;
	font-size: 5vw;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clear-button {
	border: 2px solid white;
	font-family: 'Major Mono Display', monospace;
	width: 25vw;
	height: 7vw;
	font-size: 5vw;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
